* , *:before , *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html ,
body {
   width: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
header {
    /* width: 100%; */
    /* height: 100vh; */
    /* height: 100px; */
    position: relative;
    overflow: hidden;
    /* min-height: 100vh; */
    background-color: yellow;
    display: flex;
    justify-content: space-between;
}
.A-Level {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: yellow;
}
img {
    margin-left: 20px;
    margin-top: 20px;
}
.text-header {
    margin-top: 40px;
    font-size: 15px;
}
.text-header span {
    font-size: 20px;
    color: red;
}
.text-header p {
    font-size: 10px;
    color: red;
    text-transform: uppercase;
    margin-left: 10px;
}
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 15px;
    flex-grow: 1;
}
.burger-checkbox {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: -99999999px;
}

.burger {
    width: 26px;
    height: 18px;
    position: relative;
    top: 0px;
}

.burger:before,
.burger span,
.burger:after {
    position: absolute;
    right: 0;
    left: 0;
    background: #000;
    height: 2px;
}
.burger:before {
    content: '';
    top: 0;
}

.burger span {
    top: 8px;
}

.burger:after {
    content: '';
    bottom: 0;
}

.burger-checkbox:checked + .burger span {
    opacity: 0;
}
.burger-checkbox:checked + .burger::before {
   transition: transform .3s ease-in;
   transform: rotate(45deg);
   top: 8px;
}

.burger-checkbox:checked + .burger::after {
    transition: transform 0.3s ease-in;
    transform: rotate(45deg);
    bottom: 8px;
}

.burger-checkbox:checked ~ .nav-list {
    transition: opacity 0.3s ease-in;
    opacity: 1;
    visibility: visible;
}



.menu__box {
    display: flex;
}

.menu__item {
    padding-left: 10px;
    text-decoration: none;
    color: #000;
}












.nav-list {
   text-align: center;
   position: absolute;
   top: 100%;
   right: 0;
   left: 0;
   text-align: center;
   background: yellow;

   opacity: 0;
   visibility: hidden;
}
.nav-item {
    padding-bottom: 15px;
}
.footer {
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 50px;
    background-color: rgb(117, 255, 117);
}
.main {
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
}
.asides1 {
    width: 210px;
    background-color: rgb(170, 122, 170);
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.content {
    width: 1200px;
    background-color: white;
}
.content-box h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    font-size: 15px;
}
/* Старт от сюда */
.content-box p {
    padding: 15px;
    text-align: left;  
} 
/* !!!!!!!!!!!!!!!!! */

.asides {
    width: 210px;
    background-color: rgb(143, 143, 255);
    display: flex;

    padding-top: 20px;
    justify-content: center;
    font-size: 20px;
}
.box-holder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.box {
    width: calc(100%);
    border: 2px solid gray;
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.box:hover {
    background-color: rgb(213, 213, 213);
    transform: scale(1.1);
    transition: transform 0.2s linear;
}

.box img {
    border-radius: 50%;
    /* margin-left: 100px; */
    border: 5px solid #ccc;
    width: 70px;
    margin-bottom: 10px;
    padding: 0;
    margin: 0 0 10px 0;
}

.btn {
    width: 50px;
    height: 50px;
    background-color: purple;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* margin-left: 100px; */
}

.box-text p {
    flex-grow: 1;
    text-align: center;
}

.btn:hover {
    background-color: rgb(5, 74, 143);
}

.holder {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width: 350px;
    height: 100px;
    border-radius: 15px 15px 0 0;
    border: 3px solid black;
    justify-content: center;
}

.item:nth-child(1) {
    background-color: orangered;
    order: 1;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-child(5) {
    background-color: orange;
    order: 2;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-child(2) {
    background-color: blue;
    order: 4;
    flex-basis: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-child(3) {
    background-color: purple;
    order: 3;
    flex-basis: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item:nth-child(4) {
    background-color: green;
    order: 5;
    flex-basis: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (min-width: 576px) {
    .burger {
        display: none;
    }
    .nav-list {
        position: static;
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }
    .nav-item {
        padding-bottom: 0;

    }
    .nav-item + .nav-item {
        padding-left: 15px;
    }
    .box-holder {
        display: flex;
        flex-wrap: wrap;
    }
    .box {
        width: calc(50%);
        border: 2px solid gray;
        border-radius: 15px;
        padding: 10px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: center;
    }
    .content-box h1 {
        text-transform: uppercase;
        text-align: center;
        padding: 20px;
        font-size: 25px;
    }
    .box-text p {
        flex-grow: 1;
    }
    .box img {
        border-radius: 50%;
        /* margin-left: 100px; */
        border: 5px solid #ccc;
        width: 100px;
        margin-bottom: 10px;
        padding: 0;
        margin: 0 0 10px 0;
    }
    .A-Level img {
        position: relative;
        width: 100px;
        height: 100px;
        background-color: yellow;
    }
}


@media (min-width: 768px) {
    .burger {
        display: none;
    }
    .nav-list {
        position: static;
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }
    .nav-item {
        padding-bottom: 0;

    }
    .nav-item + .nav-item {
        padding-left: 15px;
    }
    .box-holder {
        display: flex;
        flex-wrap: wrap;
    }
    .box {
        width: calc(50%);
        border: 2px solid gray;
        border-radius: 15px;
        padding: 10px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-around; */
        text-align: center;
    }
    .content-box h1 {
        text-transform: uppercase;
        text-align: center;
        padding: 20px;
        font-size: 25px;
    }
    .box-text p {
        flex-grow: 1;
    }
    .box img {
        border-radius: 50%;
        /* margin-left: 100px; */
        border: 5px solid #ccc;
        width: 150px;
        margin-bottom: 10px;
        padding: 0;
        margin: 0 0 10px 0;
    }
}
@media (min-width: 992px) {
    .burger {
        display: none;
    }
    .nav-list {
        position: static;
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }
    .nav-item {
        padding-bottom: 0;

    }
    .nav-item + .nav-item {
        padding-left: 15px;
    }
    .box-holder {
        display: flex;
        flex-wrap: wrap;
    }
    .box {
        width: calc(31.33%);
        border: 2px solid gray;
        border-radius: 15px;
        padding: 10px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-around; */
        text-align: center;
    }
    .content-box h1 {
        text-transform: uppercase;
        text-align: center;
        padding: 20px;
        font-size: 25px;
    }
    .box-text p {
        flex-grow: 1;
    }
    .box img {
        border-radius: 50%;
        /* margin-left: 100px; */
        border: 5px solid #ccc;
        width: 150px;
        margin-bottom: 10px;
        padding: 0;
        margin: 0 0 10px 0;
    }
}




/* изменить все п */
/*  */