* , *:before , *::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html ,
body {
   width: 100%;
   display: flex;
   flex-direction: column;
}

.header {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: yellow;
}
.a-level {
    display: flex;
}

.a-level h1 {
    color: red;
    font-size: 30px;
}

.a-level p {
    font-size: 20px;
    margin-top: 8px;
}

.text-ukraine h1 {
    color: red;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    top: 20px;
    left: -45px;
    font-size: 10px;
}

.logo img {
    width: 70px;
    height: 70px;
    margin: 20px;
}

#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 40px;
    left: 90%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

/* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 15%;
    left: -100%;
    width: 100%;
    /* height: 100%; */
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    background-color: yellow;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

/* элементы меню */
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}
.menu__item:hover {
    background-color: #CFD8DC;
}

#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}


.menu__static {
    visibility: hidden;
}

.menu__item1:hover {
    color: red;
}


.main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.main-text p {
    padding: 20px;
}

.main-text h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    padding: 15px;
}

.box-holder {
    margin: 5px;
}

.box {
    /* width: 33.33%; */


    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    box-shadow: 5px 5px 15px rgb(94, 94, 94);
    /* padding: 20px; */
    margin: 10px;
    border-radius: 15px;
    background-color: white;
}

.box img {
    border-radius: 50%;
    width: 100px;
    border: 5px solid #ccc;
    /* width: 100px; */
    /* margin-bottom: 10px; */
    margin: 10px;
    /* margin: 0 0 10px 0; */
}

.box:hover {
    background-color: rgb(213, 213, 213);
    transform: scale(1.03);
    transition: transform 0.2s linear;
}

.box h1 {
    padding: 10px;
}

.box p {
    padding: 10px;
    text-align: center;
}


.btn {
    width: 50px;
    height: 50px;
    background-color: purple;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* margin-left: 100px; */
}


.aside__left {
    width: 100%;
    background-color: purple;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    justify-content: center;
    font-size: 20px;
}

.aside__right {
    width: 100%;
    background-color: royalblue;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    justify-content: center;
    font-size: 20px;
}


.footer {
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 50px;
    background-color: rgb(117, 255, 117);
}


@media (min-width: 576px) { 
    .header {
        display: flex;
        width: 100%;
        align-items: center;
        background-color: yellow;
    }
    .a-level {
        display: flex;
    }
    
    .a-level h1 {
        color: red;
        font-size: 30px;
    }
    
    .a-level p {
        font-size: 20px;
        margin-top: 8px;
    }
    
    .text-ukraine h1 {
        color: red;
        text-transform: uppercase;
        display: inline-block;
        /* position: relative; */
        top: 20px;
        left: -45px;
        font-size: 10px;
    }
    
    .logo img {
        width: 70px;
        height: 70px;
        margin: 20px;
    }


    .hamburger-menu {
        visibility: hidden;
    }

    .menu__static {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
        /* margin-left: 650px; */
        visibility: visible;
    }


    .menu__item1 {
        padding-left: 5px;
        text-decoration: none;
        color: #333;
    }
   
    .box-holder {
        height: 100%;
        margin: 5px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .box {
        /* width: 33.33%; */
        width: 100%;
        display: flex;
       
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 2px solid black;
        /* padding: 20px; */
        margin: 10px;
        border-radius: 15px;
        background-color: white;
    }
    
    .box img {
        border-radius: 50%;
        width: 100px;
        border: 5px solid #ccc;
        /* width: 100px; */
        /* margin-bottom: 10px; */
        margin: 10px;
        /* margin: 0 0 10px 0; */
    }
    
    .box h1 {
        padding: 10px;
    }
    
    .box p {
        padding: 10px;
        text-align: center;
        flex-grow: 1;
    }
    
    .btn {
        width: 50px;
        height: 50px;
        background-color: purple;
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        /* margin-left: 100px; */
    }
    
    .aside__left {
        width: 100%;
        background-color: purple;

        display: flex;
        justify-content: center;

        justify-content: center;
        margin: 0;
        padding: 0;

        font-size: 20px;
    }
    
    .aside__right {
        width: 100%;

        background-color: royalblue;
        display: flex;
        justify-content: center;

        justify-content: center;
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
       
    .footer {
        /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        height: 50px;
        background-color: rgb(117, 255, 117);
    }
    
}


@media (min-width: 700px) {
    .box-holder {
        height: 100%;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
        /* margin-left: 40px; */
    }
    
    .box {
        /* width: 33.33%; */
        width: 40%;
        display: flex;
       
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 2px solid black;
        /* padding: 20px; */
        margin: 5px;
        border-radius: 15px;
        background-color: white;
    }
    
    .box img {
        border-radius: 50%;
        width: 100px;
        border: 5px solid #ccc;
        /* width: 100px; */
        /* margin-bottom: 10px; */
        margin: 10px;
        /* margin: 0 0 10px 0; */
    }
    
    .box h1 {
        padding: 10px;
    }
    
    .box p {
        padding: 10px;
        text-align: center;
        flex-grow: 1;
    }
    
    .btn {
        width: 50px;
        height: 50px;
        background-color: purple;
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        /* margin-left: 100px; */
    }

    .main-text p {
        padding: 20px 110px 30px 110px;
    }

    .aside__left {
        width: 95px;
        height: 100vh;
        background-color: purple;
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        left: -10px;
        top: 0;
        font-size: 15px;
        z-index: -1;
    }
    
    .aside__right {
        width: 95px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        background-color: royalblue;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        z-index: -1;

    }

    .footer {
        /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
        flex: 0 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        height: 50px;
        background-color: rgb(117, 255, 117);
    }



} 




@media (min-width: 900px) {
    .box-holder {
        height: 100%;


        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
    }
    
    .box {
        /* width: 33.33%; */
        width: 25%;
        display: flex;
       
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border: 2px solid black;
        /* padding: 20px; */
        margin: 5px;
        border-radius: 15px;
        background-color: white;
    }
    
    .box img {
        border-radius: 50%;
        width: 100px;
        border: 5px solid #ccc;
        /* width: 100px; */
        /* margin-bottom: 10px; */
        margin: 10px;
        /* margin: 0 0 10px 0; */
    }
    
    .box h1 {
        padding: 10px;
    }
    
    .box p {
        padding: 10px;
        text-align: center;
        flex-grow: 1;
    }
    
    .btn {
        width: 50px;
        height: 50px;
        background-color: purple;
        color: white;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        /* margin-left: 100px; */
    }


    .aside__left {
        width: 95px;
        height: 100vh;
        background-color: purple;
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        left: -10px;
        top: 0;
        font-size: 15px;
        z-index: -1;
    }
    
    .aside__right {
        width: 95px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        background-color: royalblue;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        z-index: -1;

    }
} 


@media (min-width: 1100px) {

    .aside__left {
        width: 210px;
        height: 100vh;
        background-color: purple;
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        left: -10px;
        top: 0;
        font-size: 15px;
        z-index: -1;
    }
    
    .aside__right {
        width: 210px;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        background-color: royalblue;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        z-index: -1;

    }

    .main-text p {
        padding: 20px 220px 30px 220px;
    }
} 


